IOS9
VS2012/Debug
VS2012/ipch
VS2012/SDT
MAC-CL/DerivedData
VS2012/SDT/Release
VS2012/SDT/_Record
VS2012/SDT/Debug
Linux_MAC
VS2012/SDTReg/Debug
MAC-CL
VS2012/Release
VS2012/SDTReg/Release
Linux_MAC/build
VS2012
IOS9/DerivedData
VS2012/SDTReg
Linux_MAC/Run.Main
Linux_MAC/sdt.dm
Linux_MAC/sdt.pc
VS2012/SDTSolution.sdf
