*.o
*.d
*.dia
MAC-CL/Build/*
VS2012/Release/*
VS2012/Debug/*
VS2012/ipch/*
VS2012/SDT/Release/*
VS2012/SDT/Debug/*
VS2012/SDT/_Record/*
VS2012/SDTReg/Release/*
VS2012/SDTReg/Debug/*
Run.Main
SDTSolution.sdf
WorkspaceSettings.xcsettings
Breakpoints_v2.xcbkptlist
